.wrap-grid {
  display: flex;
}

.wrap-grid .grid-item {
  width: 33%;
}
.grid-item img {
  width: 100%;
  height: 80%;
  font-display: center;
}

col1 {
  display: contents;
  grid-column-end: ;
}

header {
  display: block;
  background-color: olivedrab;
}
body,
p,
h1,
h2,
h3,
footer {
  background-color: olivedrab;
}

header img {
  height: 80px;
  display: flex;
  align-items: flex-start;
}

.main-header {
  display: flex;
  flex-direction: row;
}
.col1 {
  width: 50%;
  display: flex;
}
.col1 div.left {
  width: 30%;
}
.col1 div.right {
  width: 70%;
}
.col3 {
  width: 50%;
}
h2 {
  margin: 5px 0px 5px 0px; /*TRBL*/
}
